footer
    background-color: #59abee
    padding: 5%

    footer .container
    max-width: 100%

    .footer-left,
    .footer-middle,
    .footer-right
        flex: 1

    .footer-left
        text-align: left

        img
            display: block
            width: 15%

        .conditions-links
            list-style: none
            padding: 0
            margin-top: 5%

            li
                margin-bottom: 3%

            a
                text-decoration: none
                color: white

                &:hover
                    color: rgba(3, 18, 34, 1)
                    transition: 0.5s ease

        .networks-links

    .footer-middle
        text-align: center

        p
            margin: 5px 0
            color: white

            strong
                color: rgba(3, 18, 34, 1)

            a
                text-decoration: none
                color: white

                &:hover
                    color: rgba(3, 18, 34, 1)
                    transition: 0.5s ease

.footer-right iframe
    border-radius: 10px
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
