@import '~bootstrap/scss/bootstrap'
@import './_body'
@import './_main'
@import './_h'
@import './_p'
@import './_btn'

// Header
/* Colors :
 background-color: rgba(89, 171, 238, 1)
 color: white
 color: rgba(3, 18, 34, 1)
 border: 1px solid rgba(63, 142, 207, 1)
 */

@import './_menu-header'
@import './_header-image'

// Sections
@import './_section'

@import './_password-icon'

// Footer
@import './_footer.sass'
